 <h1>Novo usuário cadastrado</h1>                                          |  18 require 'rails_helper'                                                   |   6 class UserMailer < ApplicationMailer

 <dl>
   <dt>Email:</dt>
   <dd><%= @user.email %></dd>
   <dt>Password:</dt>
   <dd><%= @user.password %></dd>
 </dl>
